.loginBackground
{
    background-image: url("../Login/login.jpg");
    /* background-color: aqua; */
    width:100%;
    height:560px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.link
{
    text-decoration: none;
    color: white;
}

